.cart-cn {
	flex-basis: 70%;
	box-shadow: 1px 1px 3px 2px #d3d3d3b5;
	margin-top: 50px;
	background-color: white;
}
.cart-cn-wrap {
	padding-left: 15px;
}
.cart-cn-wrap > h3 {
	font-weight: 600;
	border-bottom: 1px solid lightgray;
	width: 98%;
	padding-bottom: 5px;
	font-size: 18px;
}

.cart-product-cn {
	display: flex;
	border-bottom: 1px solid lightgray;
	width: 99%;
}
.cart-product-cn img {
	width: 100px;
}
.cart-product-cn  h2{
    width: 40%;
    text-align: right;
    margin-top: 45px;
}
.cart-productdetail-cn {
width: 50%;
}
.cart-productdetail-cn h3{
    font-size: 13px;
    font-weight: 600;
}
.cart-productdetail-cn h5{
    font-size: 14px;
    margin-top: 69px;
}   
.cart-product-cn:last-child {
    border-bottom: 0;
}
.cart-btn-wrap{
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: -1px -3px 3px 1px #d3d3d396;
    margin-top: 12px;
    text-align: right;
}
.cart-btn-wrap > button{
    width: 27%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fb641b;
    color: white;
    font-size: 16px;
    font-weight: 600;
}